header{
  background-color: brown;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  height: 55px;
}
header >h1{
  font-size: medium;
  padding: 10%;
}
.global{
  width: 2%;
}
.paris{
  padding-top: 60%;
  width: 90%;
  margin-left: 5%;
}
.marker{
  width: 2%;
  padding-top: 7%;
  
  align-items: right;
}
.firstfigure{
  display: flex;
  flex-shrink: 0;
}